.container h3 {
  margin-bottom: 10px;
}
.tipsContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}
.tipsContainer input {
  width: calc(100% - 20px);
  padding: 0 10px;
}
.tipsContainer input::placeholder {
  color: var(--Darkgrayishcyan);
}

@media (min-width: 820px) {
  .tipsContainer {
    grid-template-columns: repeat(3, 1fr);
  }
  .tipsContainer .input {
    font-size: 22px;
  }
}
