.button:hover {
  background-color: hsla(172, 67%, 45%, 0.527);
}
.btnActive {
  background-color: var(--Strongcyan);
  color: var(--Verydarkcyan);
}

@media (min-width: 820px) {
  .button {
    font-size: 22px;
  }
}
